<!DOCTYPE html>
<html lang="vi"> <!-- "vi" is the correct language code for Vietnamese -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/public/css/styles.css" />
  <link rel="stylesheet" href="/public/css/styles-mobile.css" />
  <title>Lucky Trip</title>
</head>

<body>
  <p>Xin lỗi, đã có một số vấn đề không mong muốn xuất hiện.</p>
  <p>Bạn hãy nhấn vào liên kết dưới đây để quay lại và thử lại.</p>
  <a href="/landingPage">Quay lại trang chính</a> <!-- Added text content to the anchor tag -->
</body>
</html>