html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 12px; /* Smaller font size for smaller screens */
  }
}


.desktop-bold-64 {
  font-family: "Barlow", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -0.03em;
  text-align: left;
  /* Gradient text color */
  background: linear-gradient(112.96deg, #ff1018 0.76%, #ff8125 102.73%);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent;
}
.desktop-semiBold-48 {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.03em;
  text-align: left;
}

.desktop-semiBold-40 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.03em;
  text-align: left;

  /* Gradient background */
  background: linear-gradient(112.96deg, #ff1018 0.76%, #ff8125 102.73%);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}
.desktop-semiBold-40-black {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.03em;
  text-align: left;

  /* Gradient background */
  background: black;
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}

.desktop-semiBold-16 {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.desktop-semiBold-32 {
  font-family: 'Barlow', sans-serif; /* Assuming 'Barlow' is a web-safe or imported font */
  font-size: 2rem;
  font-weight: 600; /* SemiBold */
  line-height: 2.5rem;
  letter-spacing: -0.03em;
  text-align: left;
}

.desktop-regular-24 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.03em;
  text-align: left;
}


.desktop-regular-20 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -0.03em;
  text-align: left;
}


.top-10 {
  top: 6% !important;
}
.top-15 {
  top: 8% !important;
}
.start-30 {
  left: 30% !important;
}
.start-15 {
  left: 15% !important;
}
.top-20 {
  top: 68% !important;
}

.start-20 {
  left: 20% !important;
}
.start-80 {
  left: 80% !important;
}
.end-10 {
  right: 10% !important ;
}
.special-img {
  width: 39rem ;
  height: 26.25rem;
  gap: 0px;
  border-radius: 1rem 1rem 1rem 1rem;
  opacity: 0px;
  margin-right: 1rem;
}
.normal-img {
  width: 25.5rem;
  height: 17rem;
  gap: 0px;
  border-radius: 1rem 1rem 1rem 1rem;
  opacity: 0px;
}
.mr-16 {
  margin-right: 16px;
}
.w-10 {
  width: 30% !important;
}
.arrow-container {
  width: 128px;
  height: 56px;
  gap: 16px;
  opacity: 0px;
}

/* chair  */

.custom-chair {
  width: 411px;
  height: 659px;
  padding: 40px 24px 24px 24px;
  gap: 24px;
  border-radius: 16px 16px 16px 16px;
  border-width: 8px 0px 0px 0px; /* Specify border width */
  border-style: solid; /* You may also need to specify the border style */
  border-color: #ff1018;
  background-color: #ffdb59;
  margin-right: 16px;
}
.font-chair {
  font-family: "Barlow", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -0.03em;
  text-align: center;
}
.inner-chair {
  background-color: #ffeca8;
  width: 363px;
  height: 363px;
  gap: 0px;
  border-radius: 15px 15px 15px 15px;
  border-width: 0px 0px 0px 0px; /* Specifying the border width */
  border-style: solid; /* You may need to specify the border style */
}
.chair-button {
  width: 363px;
  height: 56px;
  padding: 10px 24px;

  border-radius: 8px 8px 8px 8px;
  border-width: 0px 0px 0px 0px;
  background-color: #da0530;
}
.chair-img{
  height: 297px;
  width: 297px;

}

/*  annoucement */

.visit-day-box{
  width: 302px;
  height: 224px;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  gap: 1.5rem;
  border-radius: 16px 16px 16px 16px;
  background:  linear-gradient(91.69deg, #F67F29 -3.57%, #DA0530 100%);
}
.visit-day-button{
  width: 286px;
  height: 56px;
  padding: 1rem 1rem 1rem 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem ;
  background-color: #F6F6F6;
}
.visit-day-img{
   width: 112px;
   height: 112px;
}
/*  discount */

.discount-box{
  background: 
    linear-gradient(91.69deg, #F67F29 -3.57%, #DA0530 100%);
  width: 100%;
  height: 224px;
  position: relative;
}
.discount-button {
  /* width: 264px; */
  height: 64px;
  position: absolute; /* Ensure positioning works with top and left */
 
  padding: 10px 24px;
  gap: 8px;
  border-radius: 8px 8px 8px 8px;
  border-color: white;
  border-width: 0;
  background-color: white;

}
.discount-height{
  height: 224px;
}
/* footer */
.footer-banner{
  background-image: url(/public/images/page2/banner.png); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.end-90 {
  right: 60% !important;
}



.end-5 {
  right: 5% !important;
}

.desktop-quote {
  display: block !important;
}

/* Styles for mobile quotes */
.mobile-quote {
  display: none !important;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .desktop-quote {
    display: none !important;
  }
  .mobile-quote {
    display: block !important;
  }
}

.mobile-img {
  width: 275px;
  height: 184px;
  gap: 0px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
  margin-right: 16px;
}
.span-text-regular {
  color: #da0530;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.brand-vj {
  color: #da0530;
}
.p-row {
  padding-right: 80px !important;
}

.vietjet-main-title,
.vietjet-sub-title,
.footer {
  font-family: "Barlow", sans-serif; /* Apply Barlow font to specific classes */
}
.vietjet-main-title {
  font-size: 3rem !important;
  background: linear-gradient(
    45deg,
    #ff1018,
    #ff8125
  ); /* Màu gradient từ #FF1018 đến #FF8125, đường chéo 45 độ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.vietjet-sub-title {
  font-size: 3rem !important;
  color: #222222; /* Đổi màu sang #222222 */
  font-weight: 600;
}








.button-icon {
  width: 24px; /* Điều chỉnh kích thước icon */
  height: 24px;
  margin-right: 10px; /* Khoảng cách giữa icon và chữ trong nút */
}


.footer-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.pr-5 {
  padding-left: 5% !important;
}
.pe-10 {
  padding-right: 5% !important;
}
.w-32 {
  width: 32% !important;
}

.pt-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.custom-image-item {
  width: 845px;
  height: 422px;
  border-radius: 16px 0px 0px 0px;
}

.custom-carousel-inner {
  width: 1500px !important;
}

@media (max-width: 1500px) {
  .custom-carousel-inner {
    width: 100% !important;
    max-width: none;
  }
}

/* tourist day  */





