body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* HEADER FORM  */

.background-image {
  background: url("/public/images/page1/banner1.png") no-repeat left center;
  background-size: cover;
  height: 1000px; /* Đảm bảo chiều cao của phần tử đủ để phủ toàn bộ chiều cao của trang */
  width: 100%;
  display: flex; /* Sử dụng flexbox để chia thành hai cột */
}

.hidden-background {
  position: absolute; /* Đặt nền ẩn với vị trí tuyệt đối */
  top: 0; /* Canh đỉnh */
  left: 0; /* Canh trái */
  right: 0; /* Canh phải */
  bottom: 0; /* Canh đáy */
  width: 100%;
  height: 1000px;
  z-index: 1; /* Đặt nền ẩn phía sau nội dung */
  display: flex; /* Sử dụng Flexbox */
  justify-content: space-between; /* Chia đều khoảng cách giữa hai cột */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  padding: 20px; /* Thêm khoảng cách cho nội dung */
  box-sizing: border-box;
}

.hidden-background .column-left,
.hidden-background .column-right {
  height: 100%; /* Đảm bảo chiều cao cột đầy đủ */
  display: flex;
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  padding: 10px;
  box-sizing: border-box;
}

.hidden-background .column-left {
  flex: 5; /* Chiếm 2 phần của không gian */
  width: 48%;
}

.hidden-background .column-right {
  flex: 4; /* Chiếm 1 phần của không gian */
  width: 48%;
}

.info-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.info-form h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #DA0530;
  font-family: 'Lobster', cursive;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.info-form label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333333;
}

.info-form input[type="text"],
.info-form input[type="tel"],
.info-form input[type="date"],
.info-form input[type="number"],
.info-form select {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.time-input {
  display: flex;
  gap: 10px;
}

.time-input input {
  width: 48%;
}
.time-separator {
  font-size: 24px;
  line-height: 48px; /* Đảm bảo dấu hai chấm căn giữa theo chiều dọc */
}

.checkboxes {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.info-form button {
  padding: 10px 20px;
  background-color: #da0530;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.info-form button:hover {
  background-color: #ff3030;
}

.form-column.full-width {
  width: 100%; /* Chiếm toàn bộ chiều rộng */
}

.submit-button {
  display: inline-flex; /* Để icon và text hiển thị trên cùng một hàng */
  align-items: center; /* Căn giữa icon và text theo chiều dọc */
  justify-content: center; /* Căn giữa icon và text theo chiều ngang */
  width: 100%; /* Chiếm 100% chiều rộng của container */
  height: 70px; /* Đặt chiều cao của nút */
  background-color: #da0530;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center; /* Căn giữa văn bản */
}

.submit-button:hover {
  background-color: #ff3030;
}

.button-icon {
  width: 24px; /* Đặt chiều rộng của icon */
  height: 24px; /* Đặt chiều cao của icon */
  margin-right: 10px; /* Khoảng cách giữa icon và chữ */
}


/* END FORM  */

/* small content  */
.small-content {
  width: 60%;
  text-align: left;
  margin-top: 10px;
  margin-left: 5%;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.small-content h1 {
  font-size: 40px;
  color: #333333;
  margin-bottom: 10px;
}

.small-content p {
  width: 68%;
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
}

.small-content .highlight {
  color: #da0530;
  font-weight: bold;
}

/* end small content  */

/* BODY 1  */
.background-body-image1 {
  margin-top: 5%;
  background-color: #ffdb59;
  height: auto;
  width: 100%;
  position: relative;
}
.background-inbody {
  background: url("/public/images/page1/bg\ yin-yang.png") no-repeat center
    center;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 1px;
}
.bq {
  position: relative;
  bottom: 5%;
  padding-top: 100px;
}
.headline {
  font-size: 45px;
  color: #000000;
  margin: 5px 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tlba {
  margin-top: 20px;
  margin-bottom: 20px;
}

.frame-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
  justify-items: center;
  align-items: center;
  width: auto;
  padding-bottom: 50px;
}

.frame {
  width: 700px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333333;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.frame img {
  flex: 1;
  display: flex;
  margin-right: 10px;
  height: 100%;
}

.frame:hover {
  transform: scale(1.05);
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.text-content strong {
  display: block;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  margin-bottom: 5px;
}

.text-content p {
  font-size: 5px;
  color: #666666;
}

/* END BODY 1  */

/* BODY 2  */
.background-body-image2 {
  background: linear-gradient(to right, #F67F29
  , #DA0530);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.body2 {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Chia đều khoảng cách giữa các cột */
  align-items: center;
  position: relative;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Đảm bảo nội dung trong mỗi cột được căn giữa theo chiều dọc */
  box-sizing: border-box;
}

.column-left,
.column-right {
  flex: 1; /* Kích thước của các cột trái và phải sẽ nhỏ hơn */
}

.column-center {
  flex: 2; /* Kích thước của cột giữa sẽ lớn hơn */
}

.mb {
  margin: 0;
  position: relative; /* Vị trí tuyệt đối để căn chỉnh xuống góc dưới bên trái của background */
  bottom: 0; /* Căn sát đáy */
  left: -30%; /* Căn sát bên trái */
  height: auto;
  width: auto;
}

.description {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  margin: 0;
  max-width: 100%; /* Cho phép văn bản mở rộng đến giới hạn của cột */
}

.cta-button {
  padding: 25px 60px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cta-button .button-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.cta-button:hover {
  transform: scale(1.05);
}


/* END BODY 2 */

/* BODY 3  */
.background-body-image3 {
  background-color: #f6f6f6;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 1px;
}

.pw {
  position: relative;
  bottom: 5%;
  padding-top: 100px;
}

.headline {
  font-size: 45px;
  color: #000000;
  margin: 5px 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 282px;
  height: 282px;
}

.card:hover {
  transform: scale(1.05);
}

.tr-button {
  display: flex;
  align-items: center;
  padding: 15px 70px;
  background-color: #da0530;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tr-button .button-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}

/* END BODY 3 */

/* BODY 4  */
.background-body-image4 {
  display: flex; 
  flex-direction: row; 
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  padding: 20px; 
  box-sizing: border-box;
}
.column-left-2 {
  flex: 2; 
  padding: 20px; 
  background-color: #ffffff; 
  box-sizing: border-box; 
}

.column-right-2 {
  flex: 1; 
  padding: 20px;
  background-color: #ffffff; 
  box-sizing: border-box; 
}

.gradient-text-2 {
  font-size: 40px;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  background: linear-gradient(to left, #DA0530, #FF8125);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0;
  text-align: left; 
  margin-bottom: 20px;
}
.sub-text {
  font-size: 36px; 
  font-family: 'Barlow', sans-serif; 
  color: #000000; 
  text-align: center; 
  margin: 0; 
  text-align: left;
  font-weight: bold;
}
.responsive-image {
  width: 100%; 
  height: auto; 
  display: block; 
  margin-top: 50px; 
}

.icon-text-list {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  margin-top: 65%;
}

.icon-text-list li {
  display: flex; 
  align-items: center; 
  margin-bottom: 17px; 
  font-size: 16px; 
  color: #000000; 
  font-weight: normal;
}

.icon-text-list .icon {
  width: 24px; 
  height: 24px; 
  margin-right: 10px; 
}

/* FOOTER */

.background-footer {
  display: grid;
  grid-template-rows: repeat(6, auto); 
  gap: 10px; 
  background-image: url('/public/images/page1/bgBannerHomePage.72a61446\ 1.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  padding: 20px; 
  color: #000000; 
  height: auto;
}
.row-second {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  width: 100%; 
  padding: 20px 0; 
  margin-bottom: 30px;
}

.row-second img,
.row-second .gradient-text {
  position: relative; /* Đảm bảo các phần tử nằm trong luồng tài liệu bình thường */
  font-size: 40px;
}
.background-footer .row {
  padding: 15px; 
  border-radius: 16px; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative;
}

.logo {
  width: 200px; 
}

.gradient-text {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #DA0530, #FF8125); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  
}

.background-footer .row:nth-child(2) { 
  flex-direction: column; 
}

.row:nth-child(3) { 
  display: flex; 
  justify-content: space-between; 
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  height: auto;
}

.row-white-background {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 80%; 
  margin: 0 auto; 
  background-color: #ffffff; 
}
.row:nth-child(3) .column {
  flex: 1; 
  margin: 0 2px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.column-title {
  font-size: 48px; 
  font-weight: bold;
  color: #333333; 
  margin-bottom: 10px; 
}

.column-text {
  font-size: 14px; 
  color: #666666; 
  margin: 0; 
}
.flg{
  width: 400px; /* Đặt kích thước phù hợp cho logo, có thể thay đổi */
  max-width: 100%; /* Đảm bảo logo không vượt quá chiều rộng của container */
  height: auto; /* Giữ tỉ lệ của logo */
}

.row-fifth {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 90%;
  margin: 0 auto; 
  background-color: #ffffff; 
  padding: 20px; 
  flex-wrap: wrap; 
  height: auto;
  gap: 20px;
}

.row-fifth .fifth-column {
  flex: 1 1 15%; /* Mỗi cột chiếm khoảng 15% chiều rộng và có thể co dãn */
  text-align: center; /* Căn giữa nội dung trong mỗi cột */
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-fifth .fifth-column img {
  width: auto; /* Đặt kích thước đồng nhất cho tất cả các icon */
  height: 100px; /* Đặt chiều cao đồng nhất cho tất cả các icon */
  margin-bottom: 5px; /* Khoảng cách dưới ảnh */
}