<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
</head>
<body>

  <div>
    <form action="/hello" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input type="number" name="phoneNumber" placeholder="phoneNumber" required />
        <input type="date" name="birthdate" placeholder="Ngày sinh" required />
        <select name="sex" required>
          <option value="" disabled selected>Sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <select name="tuvi" required>
          <option value="1" selected>Tài lộc, công danh, sự nghiệp</option>
          <option value="2">Gia đạo</option>
          <option value="3">Sức khỏe</option>
          <option value="4">Tình Duyên</option>
          <option value="5">Vận hạn</option>
        </select>
        <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>