<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Query Result</title>
</head>
<body>
  <h2>Query Result</h2>
  <p><%= queryRes.content %></p>
  <h4>Suitable Product: </h4>
  <div>
    <img src="<%= product.url %>" alt="Product Image" width="300" height="200"/>
    <a href="<%= product.link %>">click to buy</a>
  </div>

</body>
</html>
